<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

  </head>

  <body>
    <div class=header>
      <div class=header_info>
        <div class=header_title>
          Room Occupancy Tracking
        </div>
        <div class=header_links>

        </div>

      </div>
    </div>

    <div id=contentsbox>
      {% block contents %}{% endblock %}
    </div>

    <div class=footer>
    </div>

    {% block script %}{% endblock %}
  </body>
</html>
